.Rproj.user
resources
public
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.hugo_build.lock
static/class/
staging/**/*.markdown
code.markdown
work.markdown
notes.markdown
themes/hugo-geekdoc
content/_index.markdown
content/class/_index.markdown
content/syllabus/_index.markdown
content/resources/_index.markdown
content/class/**/*s22.pdf
content/class/**/*s22_thumb.png

