        <p><h5>Instructor</h5>
        <a href="{{ .Site.Params.my_url }}" target="_blank" rel="noopener"> {{ .Site.Params.my_name }}</a>, {{ $.Site.Params.my_office }}.
        Email at <a href="mailto:{{ $.Site.Params.my_email }}"> {{ .Site.Params.my_email }}</a>.</p>

        <p><h5>Course details</h5>
            Meeting {{ .Site.Params.crs_days }} at {{ .Site.Params.crs_time }} in {{ .Site.Params.crs_location }}.
        </ul>

        <p><h5>Contacting me</h5>
        {{ .Site.Params.my_contact_policy | markdownify}}</p>
